*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 10vh;
    background: #D1D2D4;
}
footer{
    height: 10vh;
    background: #D1D2D4;
}
body{
    width: 100vw;
    height: 100vh;
}
.parent {
    display: flex;
    height: 100%;
    margin: 2rem 0;
    width: 100%;
}
.main{
    width:75%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.div1 {
    background-color: #529645;
    width: 67%;
    height: 100%;
}

.div2 {
    background: #8CC63F;
    width: 33%;
    height:100%;
}
.div3{
    width: 25%;
    background-color: #F5EE31;
    height:100%;
}

@media (min-width: 477px) and (max-width:768px){
    .parent{
        flex-direction: column;
        align-items: end;
    }
    .main{
        width: 100vw;
        height: 60%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .div1{
        height: 100%;
        width: 100%;
    }
    .div2{
        width: 50%;
        height: 67%;
    }
  
    .div3{
        width: 50%;
        height: 40%;
    } 
}


@media (max-width: 478px ) {
    .parent{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .main {
        display: flex;
        flex-direction: column;
        height: 75%;
        width: 100%;
     }
    .div2 {
        width: 100%;
        height: 33%;
    }
    .div1{
        height: 67%;
        width: 100%;
    }
    .div3{
        height: 25% ;
        width: 100%;
    }
} 
