* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
  }
  .headerpart {
      height: 10vh;
      background: #D1D2D4;
  }
  .footerpart {
      height: 10vh;
      background: #D1D2D4;
  
  }
  .parent {
      display: flex;
      height: 100%;
      margin: 2rem 0;
      width: 100%;
  }
  .div1 {
      width: 100%;
  }
  .subdiv1{
    height: 50%;
  }
   .subdiv2 {
      height: 50%;
  }
  .subdiv1 {
      background: red;
  }
  .subdiv2 {
      background: orange;
  }
  .div2 {
      background: yellow;
      width: 400px;
  }
  @media (max-width: 576px) {
      .parent {
          flex-direction: column;
          height: 100%;
      }
      .div2 {
          width: 100%;
      }
      .div1{
          height: 100%;
      }
      .div2 {
          height: 400px;
      }
  }